<div class="fixed w-full z-50">
    <header class="bg-gradient-to-r  text-white px-10 py-4 w-full flex justify-between items-center m-auto rounded-none duration-500">
        <a href="/">
            <img src="logo.png" />
        </a>
        <nav class="md:w-1/2">
            <ul class="flex justify-around text-xl font-bold">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>
<style>
    li{
        transition-duration: 100ms;
    }
    li:hover{
        color:#524BE0;
    }
</style>
<script>
    if (typeof window !== 'undefined') {
    window.addEventListener('scroll', () => {
      const header = document.querySelector('header');
      if (window.scrollY > 0) {
        header.classList.remove('w-full');
        header.classList.remove('rounded-none');
        header.classList.add('w-[96%]');
        header.classList.add('rounded-b-full');
        header.classList.add('from-blue-950');
        header.classList.add('to-green-700');
      } else {
        header.classList.remove('w-[96%]');
        header.classList.remove('rounded-b-full');
        header.classList.remove('from-blue-950');
        header.classList.remove('to-green-700');
        header.classList.add('w-full');
        header.classList.add('rounded-none');
      }
    });
  }
</script>
