<div class="fixed w-full z-50">
  <header class="bg-transparent text-white px-4 md:px-10 py-4 w-full flex flex-col md:flex-row justify-between items-center m-auto rounded-none duration-500 transition-all ease-in-out">
    <div class="flex justify-between items-center w-full md:w-auto">
      <a href="/">
        <img src="logo.png" class="h-10" />
      </a>
      <button id="menu-toggle" class="md:hidden text-white text-3xl focus:outline-none">&#9776;</button>
    </div>
    <nav id="menu" class="hidden md:flex md:w-1/2 w-full mt-4 md:mt-0">
      <ul class="flex flex-col md:flex-row justify-around text-lg md:text-xl font-bold w-full">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>

<style>
  li {
    transition-duration: 100ms;
  }
  li:hover {
    color: #524BE0;
  }
  
  /* Añade una transición suave para el cambio de background */
  header {
    transition: background-color 0.5s ease;
  }
</style>

<script>
  if (typeof window !== 'undefined') {
    const header = document.querySelector('header');
    const menuToggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('menu');

    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.remove('bg-transparent');
        header.classList.add('bg-gray-900'); // Gris muy oscuro
        header.classList.add('shadow-lg'); // Opcional: añade sombra para mejor contraste
      } else {
        header.classList.add('bg-transparent');
        header.classList.remove('bg-gray-900');
        header.classList.remove('shadow-lg');
      }
    });

    menuToggle.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  }
</script>
