---
---
<section class="relative h-[80vh] bg-black">
	<video src="ejemplo.mp4" class="relative z-0 w-full h-full object-cover" autoplay >
	</video>
	<div class="absolute bg-black/70 w-full h-full z-10" >
	</div>
</section>

